{#
 # Copyright (c) 2020 PayGate (Pty) Ltd
 #
 # Author: App Inlet (Pty) Ltd
 #
 # Released under the GNU General Public License
 #}
<script>
    $('head').append('<link rel="stylesheet" href="catalog/view/theme/paygate/stylesheet/stylesheet.css">');
</script>
<div id="pw3PayPopup">
    <div id="pw3PayPopupContent">
        <form name="form" id="pw3form" class="form-horizontal text-left"
              action="{{ 'https://secure.paygate.co.za/payweb3/process.trans' }}" method="post" >
            <input type="hidden" name="PAY_REQUEST_ID" value="{{ PAY_REQUEST_ID }}"/>
            <input type="hidden" name="CHECKSUM" value="{{ CHECKSUM }}"/>
            <div class="buttons">
                <div class="pull-right"><input type="submit" value="{{ button_confirm }}" id="button-confirm"
                                               class="btn btn-primary"/>
                </div>
            </div>
        </form>
        <script type="text/javascript">{{ document.getElementById("pw3form").submit() }}</script>
        <script type="text/javascript">$("#button-confirm").hide();</script>
        <script type="text/javascript">$("#button-confirm").trigger('click');</script>
    </div>
</div>
